@font-face {
    font-family:'maanosqueyo';
    src: url(./font/RetroSignature.otf);
  }  
@font-face{  
  font-family:'rimados' ;
  src: url(./font/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
@font-face {
    font-family:'rimatres' ;
    src: url(./font/Baby\ Child.ttf);
}

body{
    text-align: center;
    margin-right: 10em;
    margin-left: 10em;
    font-size: 40px;
    background-color: salmon;
}

#rimaI{
    font-family: maanosqueyo,'Times New Roman', Times, serif;
}
#rimaII{
    font-family: rimados,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#rimaIII{
 font-family: rimatres,'Courier New', Courier, monospace;
}