body{
    background-color:lightgray;
}
p.fecha{
    text-align: right;
    text-transform: uppercase;
    text-size-adjust: 0.7em;
    font-weight: bold;
    letter-spacing: 0mm;
    color: lightslategray;
}
p{
    font-family:'Helvética','Georgia','Times-New-Roman','sans-serif';
    text-size-adjust: 0.9em;
}
h1{
    color:#004EC6;
    text-size-adjust: 2.8em;
    font-weight: normal;
    font-family: 'Calibri','Arial';
    letter-spacing: 2mm;
}
h2{
    font-family:'sans-serif','Mohave-Regultar'; 
    src: url("../fonts/Mohave-Regular.ttf");
    text-size-adjust: 1.4em;
    color: lightslategrey;
    font-weight: normal;
    
}
img{
    display:block;
    margin:auto;
    width: 35%;
}