body{
    
    background-color: salmon;
    
}
#body2{
    font-size: 5em;
    margin-left: 7em;
    margin-right: 8em;
}
h1{
    text-align: center;
}
@font-face {
    font-family: triti;
    src: url(./font/Baby\ Child.otf);
}
@font-face {
    font-family:impedimento ;
    src: url(./font/Child\ Dream.otf);
}
@font-face {
    font-family:childhood ;
    src: url(./font/Childhood-Bold.otf);
}
@font-face {
    font-family:tiempo ;
    src: url(./font/Childs\ Play.ttf);
}
@font-face {
    font-family:cientifico;
    src: url(./font/Cotton\ Butter.ttf);
}
@font-face {
    font-family:parranda ;
    src: url(./font/childspon.otf);
}
@font-face {
    font-family:dvd ;
    src: url(./font/PWChildren.ttf);
}
@font-face {
    font-family: Disney;
    src: url(./font/Walter.ttf);
}
@font-face {
    font-family: infantil;
    src: url(./font/CATChilds.ttf);
}
@font-face {
    font-family: cat;
    src: url(./font/Children.ttf);
}
#A{
    letter-spacing: 2em;
    font-family: Disney,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#B{
    font-family: infantil,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2em;
}
#C {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2em;
}
#D{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2em;
}
#E{
    letter-spacing: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#F{
    letter-spacing: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#G{
    letter-spacing: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#H{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2em;

}
#I{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2em;
}
#J{
    letter-spacing: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}
#K{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2em;
}
#L{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2em;
}
#nose1{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
#LL{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2em;
}
#M{
    letter-spacing: 2em;
    font-family: parranda,Georgia, 'Times New Roman', Times, serif;
}
#N{
    letter-spacing: 2em;
    font-family: triti,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Ñ{
    letter-spacing: 2em;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#O{
    letter-spacing: 2em;
    font-family: impedimento,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#P{
    font-family: childhood,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2em;
}
#Q{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2em;
}
#R{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2em;
}
#nose{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#RR{
    letter-spacing: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#S{
    letter-spacing: 2em;
    font-family: cientifico,Georgia, 'Times New Roman', Times, serif;
}
#T{
    letter-spacing: 2em;
    font-family: dvd,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#U{
    font-family: cat,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2em;

}
#V{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2em;
}
#W{
    letter-spacing: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}
#X{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2em;
}
#Y{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2em;
}
#Z{
    font-family:  tiempo,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2em;
}
#CH{
    letter-spacing: 0em;
    font-family: parranda,Georgia, 'Times New Roman', Times, serif;
}
#nose2{
    font-family: parranda,Georgia, 'Times New Roman', Times, serif;
}
