body{
    background-color: cornflowerblue;
    margin-left: 2cm;
    margin-top: 2cm;
    box-sizing: border-box;
}
#box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;  
    border-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 1;
    align-items: baseline;
}
div.image{
    padding: 10px;
    margin: 2em;
    flex-basis: 200px; 
}
img{
    border-radius: 50px;
}