#guaperas{
    margin-left: 2em;
    text-align: left;
}

#mifoto{
    text-align: left;
    margin-left: 2.5em;
}

#informacion{
    text-align:  left;
    margin-left:  2.5em;
    margin-right: 1.5em;
    color: rgb(126, 0, 245);
    font-family: letrasmolonas,'Times New Roman', Times, serif;
}

#contenidocontacto{
    text-align: left;
    margin-left: 2.5em;
    font-size: small;
}

#titulos{
    text-align: left;
    margin-left: 8.5em;
    color: rgb(126, 0, 245);
    font-size: large;
    font-family: letrasmolonas,'Times New Roman', Times, serif;
}

#contenido{
    margin-left: 10em;

}
body{
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: black;
    color: green;
    }

h5{
    color: indigo;
    }
@font-face {
    font-family:"letrasmolonas";
    src: url(./font/Matrix\ Zone.ttf);
}

p{
    color: green;
}

#puntos{
    color: indigo;
}