

h1{
	font-size: 150px;
	text-align: center;
}
body{
	word-spacing: 100px;
	font-size: 215px;
	background-color: violet;

}
span{
	vertical-align: sub;
}	

#a{
	font-family: Impact, sans-serif;
	color: darkred;
}
#b{
	font-family: Verdana, sans-serif;
	color: green;
}
#c{
	font-family: 'Courier New',sans-serif;
	color: yellow;
}
#ch{
	font-family: Impact, sans-serif;
	color: skyblue;
}
#d{
	font-family: 'Comic Sans MS', sans-serif;
	color: orangered;
}

@font-face{
	font-family: "Cotton Butter";
	src: url('tipografias/Cotton Butter.ttf');
}
#e{
	font-family: 'Cotton Butter', sans-serif;
	color: green;
}
@font-face{
	font-family: "Peachy Mochi";
	src: url('tipografias/Peachy Mochi.ttf');
}
#f{
	font-family: 'Peachy Mochi', sans-serif;
	color: yellow;
}
@font-face{
	font-family: "poema";
	src: url('tipografias/poema.ttf');
}
#g{
	font-family: poema, sans-serif;
	color: greenyellow;
}
@font-face{
	font-family: "The Wanderer";
	src: url('tipografias/The Wanderer.ttf');
}
#h{
	font-family: 'The Wanderer', sans-serif;
	color: blueviolet;
}
@font-face{
	font-family: "Yearbook";
	src: url('tipografias/Yearbook.ttf');
}
#i{
	font-family: Yearbook, sans-serif;
	color: orange;
}
@font-face{
	font-family: "La Pirata-Bold";
	src: url('tipografias/La Pirata-Bold.ttf');
}
#j{
	font-family: 'La Pirata-Bold', sans-serif;
	color: darkviolet;
}
@font-face{
	font-family: "Subway Circle DEMO";
	src: url('tipografias/Subway Circle DEMO.ttf');
}
#k{
	font-family: 'Subway Circle DEMO',Normandia,sans-serif;
	color: indianred;
}
@font-face{
	font-family: "Vandalism";
	src: url('tipografias/Vandalism.ttf');
}
#l{
	font-family: Vandalism, sans-serif;
	color: yellowgreen;
}
@font-face{
	font-family: "White Dream";
	src: url('tipografias/White Dream.ttf');
}
#ll{
	font-family: 'White Dream',DreamRoad,sans-serif;
	color: orangered;
}
@font-face{
	font-family: "Quantum Profi";
	src: url('tipografias/Quantum Profi.ttf');
}
#m{
	font-family: 'Quantum Profit'sans-serif;
	color: skyblue;
}
@font-face{
	font-family: "BRADWICK";
	src: url('tipografias/BRADWICK.ttf');
}
#n{
	font-family: BRADWICK,sans-serif;
	color: green;
}
@font-face{
	font-family: "Crayon Works DEMO";
	src: url('tipografias/Crayon Works DEMO.ttf');
}
#ñ{
	font-family: 'Crayon Works DEMO', 'Comic Sans MS', sans-serif;
	color: darkviolet;
}
@font-face{
	font-family: "Daydream";
	src: url('tipografias/Daydream.ttf');
}
#o{
	font-family: Daydream, sans-serif;
	color: darkblue;
}
@font-face{
	font-family: "DreamRoad";
	src: url('tipografias/DreamRoad.ttf');
}
#p{
	font-family: DreamRoad,sans-serif;
	color: darkred;
}
@font-face{
	font-family: "Extreme";
	src: url('tipografias/Extreme.ttf');
}
#q{
	font-family: Extreme, sans-serif;
	color: blueviolet;
}
@font-face{
	font-family: "funny Study";
	src: url('tipografias/funny Study.ttf');
}
#r{
	font-family: 'funny Study', sans-serif;
	color: lightgoldenrodyellow;
}
@font-face{
	font-family: "Dustart";
	src: url('tipografias/Dustart.ttf');
}
#rr{
	font-family: Dustart, sans-serif;
	color: orange;
}
@font-face{
	font-family: "Greats Loves";
	src: url('tipografias/Greats Loves.ttf');
}
#s{
	font-family: 'Greats Loves',poema,sans-serif;
	color: springgreen;
}
@font-face{
	font-family: "Linerama-Bold";
	src: url('tipografias/Linerama-Bold.ttf');
}
#t{
	font-family: Linerama-Bold, 'Peachy Mochi', sans-serif;
	color: skyblue;
}
@font-face{
	font-family: "Matrix Zone";
	src: url('tipografias/Matrix Zone.ttf');
}
#u{
	font-family: 'Matrix Zone', sans-serif;
	color: palevioletred;
}
@font-face{
	font-family: "MEGLORIA";
	src: url('tipografias/MEGLORIA.ttf');
}
#v{
	font-family: MEGLORIA, sans-serif;
	color: orangered;
}
@font-face{
	font-family: "Normandia";
	src: url('tipografias/Normandia.ttf');
}
#w{
	font-family: Normandia, sans-serif;
	color: whitesmoke;
}
@font-face{
	font-family: "Papercutz";
	src: url('tipografias/Papercutz.ttf');
}
#x{
	font-family: Papercutz,Vandalism, sans-serif;
	color: darkorange;
}
@font-face{
	font-family: "The Deep Horror";
	src: url('tipografias/The Deep Horror.ttf');
}
#y{
	font-family: 'The Deep Horror',Vandalism, sans-serif;
	color: darkviolet;
}
@font-face{
	font-family: "bBinasa";
	src: url('tipografias/bBinasa.ttf');
}
#z{
	font-family: bBinasa, BRADWICK, sans-serif;
	color: forestgreen;
}