@font-face{
	font-family: "Matrix Zone";
	src: url('tipografias/Matrix Zone.ttf');
}
h1{
	text-align: center;
	font-size: 100px;
	font-family: 'Matrix Zone' ;
	color: darkred;

}
#foto{
	text-align: left;

}
@font-face{
	font-family: "Breathe Fire lll";
	src: url('tipografias/Breathe Fire lll.ttf');
}
body{
	font-size: 50px;
	background-color: rgb(224, 181, 81);
	text-align: left;
	font-family: 'Breathe Fire lll', Arial, sans-serif;
}
span{
	font-weight: bold;
}
@font-face{
	font-family: "Daydream";
	src: url('tipografias/Daydream.ttf');

}
h3{
	color: whitesmoke;
	font-family: Daydream, Arial, sans-serif;
	word-spacing: 20px;
}
@font-face{
	font-family: "WhiteDream";
	src: url('tipografias/WhiteDream.ttf');

}
h2{
	font-family: WhiteDream	, Arial, sans-serif;
	color: ghostwhite;
	text-align: center;
}